<?xml version="1.0" ?>
<robot name="robot2">
    <webots>
        <device reference="lidar" type="Lidar">
            <ros>
                <topicName>/robot2_lidar</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="tri_project.robot2_driver.Robot2Driver" />
    </webots>
</robot>